body{
    background-image: url(/Songs/images.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;      /* Centers content horizontally */
    align-items: center;          
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: darken; 
}
h1{
    text-align: center;
    color: rgb(16, 72, 96);
    color: rgb(6, 29, 39);
}
div{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
   margin: 8px;
}
.p
{
text-align: left;
}

.te
{
    border: 2px solid rgb(24, 111, 148) ; 
}
.name
{
    margin-bottom: 0;
}
.spacer{
    display: inline-block;
    width: 300px;
}
.fn
{
    width:350px;
}
.space
{
    display: inline-block;
        width: 10px;
}
.tn
{
    width:370px;
}
.cspacer
{
    display: inline-block;
    width: 265px;
}
.nsp
{
    display: inline-block;
    width: 10px;
}
.email
{
    width: 745px;
}
.cn
{
    width:350px;
}
.sst
{
    width:370px;
}
.phone
{
    width:745px;
}
.scs
{
    width:745px;
    background-color: rgba(27, 101, 133, 0.701);
}